/* define custom plugin bundle styles */
.ce-ta__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ce-ta__textarea-wrapper {
    display: flex;
    width: 100%;
    padding: 1em 0em;
}

.ce-ta__textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    width: 100%;
}

.dark .ce-ta__textarea {
    background-color: inherit;
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.ce-ta__button-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 1em 0em;
}

.ce-ta__button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.dark .ce-ta__button {
    background-color: inherit;
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
}

.ce-ta__loader {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.dark .ce-ta__loader {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}